<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel test suite" parallel="methods" thread-count="2">
	<test name="fromAtoB suites">
		<classes>
			<class name="main.java.com.pinionfromAtoB.www.suites.FromAtoBTripSuite" />
		</classes>
	</test>
</suite>
